@charset "UTF-8";

a {
	text-decoration: none !important;
	color: inherit;
}

.nomargin {
	margin: 0;
}

.nopadding {
	padding: 0;
}

.none {
	display: none;
}

.display {
	display: block;
}

.boxnoborder {
	border: none;
	margin: 20px 0;
	padding: 10px;
	float: left;
}

.textright {
	text-align: right;
}

/* 이미지 리사이즈 */
Section .content img {
	max-width: 800px;
	max-height: 800px;
}

.inint {
	padding: 0;
	margin: 0;
}

.contenttd img {
	display: none;
}

#menu,
Section {
	font-family: 'Open Sans', sans-serif;
}

Section .preview {
	width: content-box;
	height: content-box;
}

Section .preview > .box {
	width: 256px;
	height: 256px;
	text-align: center;
	background-color: #f4f4f4;
	color: #AAA;
}

Section .file input {
	display: none;
}

Section .filename {
	color: #AAA;
	/*position: absolute;*/
}

Section .fileUploadBtn {
	width: 256px;
}

Section .cate {
	width: 256px;
}


/* - - - - - - - - - - - - - -ProductDetail.jsp */
Section .infobox {
	padding: 30px 10px;
}

Section .imgSection,
Section .infoSection {
	float: left;
	overflow: hidden;
}

.imgSection {
	width: 350px;
	height: 350px;
	border: 1px solid #DDD;

}

.infoSection {
	padding: 10px 50px;
}

Section .infoSection h2 /*가격*/
{
	font-weight: lighter;
	margin: 70px 0 30px;
}

Section .infoSection h1 /*상품명*/
{
	font-weight: lighter;
	letter-spacing: -1px;
	padding-bottom: 10px;
}

Section .infoSection span {
	display: block;
	width: 100px;
	height: 5px;
	background-color: #f56a6a;
}

Section .box {
	overflow: hidden;
}


Section .content {
	padding: 30px;
}