<div class="thumb-info">
	<div class="thumb-wrap">
		<div class="thumb"><img src="/shopimages/covlt1649/0110010012992.jpg?1505874590"></div>
		<!--  <div class="thumb-ctrl">
			  <a href="javascript:imageview('011001001299.jpg', '0');"><img src="/images/d3/peppermint/btn/view_image_h13.gif" alt="확대" title="확대" />이미지 크게 보기</a>
		  </div>  -->
	</div><!-- .thumb-wrap -->
	<form name="form1" method="post" id="form1" action="/shop/basket.html">
		<input type="hidden" name="brandcode" value="011001001299">
		<input type="hidden" name="branduid" value="2056959">
		<input type="hidden" name="xcode" value="011">
		<input type="hidden" name="mcode" value="001">
		<input type="hidden" name="typep" value="X">
		<input type="hidden" name="ordertype">
		<input type="hidden" name="opts">
		<input type="hidden" name="mode">
		<input type="hidden" name="optioncode">
		<input type="hidden" name="optiontype">
		<input type="hidden" name="optslist">
		<input type="hidden" id="price" name="price" value="27,800">
		<input type="hidden" id="disprice" name="disprice" value="26500">
		<input type="hidden" id="price_wh" name="price_wh" value="27,800">
		<input type="hidden" id="disprice_wh" name="disprice_wh" value="26500">
		<input type="hidden" id="option_type_wh" name="option_type_wh" value="PS">
		<input type="hidden" id="prd_hybrid_min" name="prd_hybrid_min" value="1">
		<input type="hidden" name="MOBILE_USE" value="NO">
		<input type="hidden" name="product_type" id="product_type" value="NORMAL">
		<input type="hidden" name="multiopt_direct" value="">
		<input type="hidden" name="collbasket_type" value="A">
		<input type="hidden" name="package_chk_val" value="0">
		<input type="hidden" name="miniq" id="miniq" value="1">
		<input type="hidden" name="maxq" id="maxq" value="2147483647">
		<input type="hidden" name="cart_free" value="">
		<input type="hidden" name="opt_type" value="PS">
		<input type="hidden" name="hybrid_op_price" id="hybrid_op_price" value="">
		<input type="hidden" name="spcode"><input type="hidden" name="spcode2"><input type="hidden" id="regular_price"
		                                                                              name="regular_price"
		                                                                              value="27,800">
		<input type="hidden" id="discount_price" name="discount_price" value="26500">
		<input type="hidden" id="discount_type" name="discount_type" value="">
		<input type="hidden" name="uid" value="2056959">
		<input type="hidden" id="option_type" name="option_type" value="PS">


		<div class="info">

			<div class="dname">

				<h3>허브나그랑 OPS <span class="MK-product-icons"><img src="/shopimages/covlt1649/prod_icons/3?1428549545"
				                                                  class="MK-product-icon-3"><img
						src="/shopimages/covlt1649/prod_icons/4?1428550601" class="MK-product-icon-4"></span></h3>


				<p class="dsubname">◈주문폭주◈
					사이즈구애없이 입어봐요~<br>*업뎃동시 전색상 주문폭주*<br>*단독주문시 당일발송*</p>

			</div>


			<div class="table-opt">
				<table summary="판매가격, 적립금, 주문수량, 옵션, 사이즈, 상품조르기, sns">
					<caption>상품 옵션</caption>
					<colgroup>
						<col width="90">
						<col width="*">
					</colgroup>
					<tbody>


					<tr>
						<th>
							<div class="tb-left">판매가격</div>
						</th>
						<td class="price">
							<div class="tb-left">
								27,800원
							</div>
						</td>
					</tr>


					<tr>
						<th scope="row">
							<div class="tb-left">적립금</div>
						</th>
						<td>
							<div class="tb-left">270원</div>
						</td>
					</tr>


					<tr>
						<td colspan="2">
							<div class="opt-wrap" style="margin-top: 0">
								<!--    <div class="tit"><strong>기본옵션</strong></div> -->
								<dl>
									<dt class="tb-left">색상(COLOR)</dt>
									<dd><select name="optionlist[]" onchange="change_option(this, 'basic');"
									            label="색상(COLOR)" opt_type="SELECT" opt_id="1" opt_mix="Y" require="Y"
									            opt_mandatory="Y" class="basic_option">

										<option value="">옵션 선택</option>

										<option value="0" title="브라운" matrix="1" price="0" sto_id="0" dis_sto_price=""
										        dis_opt_price="" org_opt_price="0">브라운
										</option>

										<option value="1" title="와인" matrix="2" price="0" sto_id="0" dis_sto_price=""
										        dis_opt_price="" org_opt_price="0">와인
										</option>

										<option value="2" title="블랙" matrix="3" price="0" sto_id="0" dis_sto_price=""
										        dis_opt_price="" org_opt_price="0">블랙
										</option>

									</select>
									</dd>
								</dl>
								<dl>
									<dt class="tb-left">사이즈(SIZE)</dt>
									<dd><select name="optionlist[]" onchange="change_option(this, 'basic');"
									            label="사이즈(SIZE)" opt_type="SELECT" opt_id="2" opt_mix="Y" require="Y"
									            opt_mandatory="Y" class="basic_option">

										<option value="">옵션 선택</option>


									</select>
									</dd>
								</dl>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<div class="MK_optAddWrap">
								<div id="MK_innerOptWrap">
									<div id="MK_innerOptScroll">
										<ul id="MK_innerOpt_01" class="MK_inner-opt-cm"></ul>
										<ul id="MK_innerOpt_02" class="MK_inner-opt-cm"></ul>
									</div>
									<div id="MK_innerOptTotal">
										<span class="MK_txt-total">총 상품 금액</span>
										<strong class="MK_total" id="MK_p_total">0</strong>
										<span class="MK_txt-won">원</span>
									</div>
								</div>
							</div>
						</td>
					</tr>

					<tr>
						<td colspan="2">
							<div class="tb-left">
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<div class="prd-btns">
								<a href="javascript:send_multi('', 'baro', '');" class="roll"><span>BUY NOW</span><span
										class="over">바로구매하기</span></a>
								<a href="javascript:send_multi('', '');" class="roll"><span>ADD TO CART</span><span
										class="over">장바구니</span></a>
								<a href="javascript:login_chk('011001001299');" class="roll"><span>WISH LIST</span><span
										class="over">관심상품</span></a>


							</div>
							<div style="padding-top:10px;">
								<ul>
									<li style="float: right;padding-right:10px;"></li>
									<li style="float: right;"></li>
								</ul>
							</div>

							<span class="btn_dgg"></span>
						</td>
					</tr>
					</tbody>
				</table>
			</div><!-- .table-opt -->
		</div><!-- .info -->
	</form>
</div>