<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'details')}">

<body>

<!-- Section -->
<section class="init">
	<div class="boxnoborder col-6">
		<h4>
			<i class="fas fa-tags" th:text="${product.categoryMain}"></i>
			<i class="fas fa-chevron-right" th:text="${product.categorySub}"></i>
		</h4>
	</div>
	<div class="box boxnoborder textright col-6">
		<a th:href="'/product/update/' + ${product.productId}"> 수정</a>
		<a th:href="'/product/delete/' + ${product.productId}"> 삭제</a>
	</div>

	<div class="col-12 infobox boxnoborder init">

		<!--<div class="imgSection col-6"></div>-->
		<div class="imgSection col-6"
		     th:style="'background-image: url(&quot' + ${product.location} + '&quot); background-size: cover;'"></div>

		<div class="infoSection col-6">
			<h1 th:text="${product.productName}"></h1>
			<span class="line"></span>
			<h2>
				<small><i class="fas fa-won-sign"
				          th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 3, 'POINT')}"></i></small>
			</h2>

			<button class="large"><i class="fas fa-cart-plus"></i> ADD</button>
			<button class="large primary"><i class="fas fa-credit-card"></i> BUY</button>
		</div>
	</div>

	<!-- Break -->
	<div class="col-12 box box boxnoborder">
		<h5><i class="fas fa-gift"></i> 상품 상세 정보</h5>
	</div>

	<div class="content box col-12" th:utext="${product.description}"></div>
</section><!-- .section -->

</body>
</html>