<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<!-- Section -->
<section>
	<header class="major">
		<h2>Women</h2>
	</header>
	<div class="posts">
		<article th:each="product : ${products}">
			<a th:href="'/product/details/' + ${product.id}" class="image">
				<img th:src="${product.image}" alt=""/>
			</a>
			<div class="col-6 col-12-small">
				<ul class="actions stacked">
					<li>
						<a th:href="'/product/details/' + ${product.id}" th:text="${product.name}" class="button fit"></a>
					</li>
				</ul>
			</div>
		</article>
	</div>
</section>

</body>
</html>
